.geral {
    margin-top: 10px;
    padding:40px 30px 80px 30px;
    background-color: rgba(255, 255, 255, 0.559);
    -webkit-bar-shadow: 0px 0px 5px 0px rgba(148,147,147, 1);
    -moz-bar-shadow: 0px 0px 5px 0px rgba(148,147,147, 1);
    box-shadow: 0px 0px 5px 0px rgba(148,147,147, 1);
    border-radius: 5px;
}

.duas-tela {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
    gap: 20px;
}

.foto {
    width: 45%;
    padding: 10px;
}

.foto-img {
    background-color: rgba(169, 169, 169, 0.288);
    width: auto;
    padding: 10px;
}

.foto img {
    margin-left: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 2px 3px 3px darkgrey;
    align-items: center;
    justify-content: center;
}

.arquivo {
    padding: 5px;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}

.arquivo p {
    margin-top: 10px;
}

.arquivo .btn {
    background-color: rgba(169, 169, 169, 0.297);
    padding: 10px;
}

.foto p {
    color: rgba(0, 0, 0, 0.659);
    font-size: 14px;
}

/* Dados */

div.perfil {
    padding-left: 20px;
    width: 100%;
    width: 60%;
    margin-top: 20px;
}

.form-group {
    margin-top: 10px;
}

div.perfil label {
    font-size: 14px;
    padding: 5px;
}

div.perfil input, div.perfil select {
    font-size: 14px;
}

div.perfil button {
    margin-top: 25px;
}

@media screen and (max-width:800px) {
    .duas-tela {
        display: flex;
        flex-direction: column;
    }

    .foto {
        width: 100%;
        flex-direction: column;
    }

    .foto-img {
        background-color: #fff;
    }

    .foto-img img {
        margin: auto;
    }

    .arquivo {
        padding: 5px;
        display: flex;
        width: 260px;
        margin-left: -20px;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 5px;
    }

    #titolo-abacate {
        margin-top: 10px;
        width: 260px;
    }

    div.perfil {
        padding-left: 5px;
        width: 100%;
        margin-top: 5px;
    }
    
}