<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome-free-6.2.1-web/css/all.min.css">
    <title>Cursos.IO | Cadastro</title>

</head>
<body>

    <div class="flex-dashboard">

        <sidebar id="sidebar">
            <div class="sidebar-title">
                <img src="../images/Cursos.Io.png" alt="">
                <h2>Cursos.Io</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fa-solid fa-house-user"></i>
                        <a href="dashboard.html"> Dashboard</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <a href="#"> Perfil</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-graduation-cap"></i>
                        <a href="vitrine.html"> Vitrine de cursos</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-book"></i> 
                        <a href="meuscursos.html"> Meus cursos</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-pen"></i> 
                        <a href="relatorio.html"> Relatórios</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-address-book"></i>
                        <a href="#"> Falar com um gerente</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-trophy"></i> 
                        <a href="premiacao.html"> Minhas premiações</a>
                    </li>
                    <li>
                        <i class="fa-regular fa-address-card"></i>
                        <a href="#"> Sobre a(o) Cursos.Io</a>
                    </li>
                    <li class="showbar_logaut">
                        <i class="fa-solid fa-right-from-bracket"></i> 
                        <a href="../index.html"> Logout</a>
                    </li>
                </ul>
            </div>
        </sidebar>
    
        <main id="mainContent">
            <header>
                <i id="iconMenu" onclick="responsiveSidebar()" class="fas fa-bars"></i>
                <a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </header>

            <div class="main-content">

                <h2>Meu perfil</h2>

                <div class="geral">
                    <h5>Dados do usuário</h5>

                    <div class="duas-tela">

                        <div class="foto">
                            <p>Foto de perfil</p>
                            <div class="foto-img">
                                <img src="../images/Cursos.Io.png" alt="">
                            </div>
                            <div class="arquivo">
                                <p>Arquivo</p>
                                <button class="btn"><i class="fa-solid fa-folder-open"></i> Procurar</button>                           
                            </div>
                            <p id="titolo-abacate">A imagem escolhida deve vestar no formato JPG ou PNG. E o tamanho máximo do upload é de 5 MB.</p>
                        </div>
                        
                        <div class="perfil">
                                    <form>
                                        <div class="form-group">
                                          <label for="name" class="form-label">Nome Completo</label>
                                          <input type="text" class="form-control" id="name" placeholder="Nome completo">
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="form-label">E-mail</label>
                                            <input type="email" class="form-control" id="email" placeholder="Email" aria-describedby="emailHelp">
                                          </div>
                                          <div class="form-group">
                                            <label for="idade" class="form-label">Idade</label>
                                            <input type="text" class="form-control" id="idade" placeholder="idade" aria-describedby="emailHelp">
                                          </div>
                                        <div class="form-group">
                                          <label for="password" class="form-label">Senha</label>
                                          <input type="password" class="form-control" id="password" placeholder="senha">
                                        </div>
                                        <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-floppy-disk"></i> Salvar</button>
                                    </form>
                        </div>
                    </div>

                </div>

            </div>
        </main>
    </div>

    <script src="../plugins/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome-free-6.2.1-web/js/all.min.js"></script>
    <script src="../js/menu.js"></script>
</body>
</html>