<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome-free-6.2.1-web/css/all.min.css">
    <title>Cursos.IO | Cadastro</title>

</head>
<body>

    <div class="flex-dashboard">

        <sidebar id="sidebar">
            <div class="sidebar-title">
                <img src="../images/Cursos.Io.png" alt="">
                <h2>Cursos.Io</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fa-solid fa-house-user"></i>
                        <a href="dashboard.html"> Dashboard</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <a href="perfil.html"> Perfil</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-graduation-cap"></i>
                        <a href="vitrine.html"> Vitrine de cursos</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-book"></i> 
                        <a href="meuscursos.html"> Meus cursos</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-pen"></i> 
                        <a href="relatorio.html"> Relatórios</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-address-book"></i>
                        <a href="#"> Falar com um gerente</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-trophy"></i> 
                        <a href="premiacao.html">Minhas premiações</a>
                    </li>
                    <li>
                        <i class="fa-regular fa-address-card"></i>
                        <a href="sobre.html">Sobre a(o) Cursos.Io</a>
                    </li>
                    <li class="showbar_logaut">
                        <i class="fa-solid fa-right-from-bracket"></i> 
                        <a href="../index.html">Logout</a>
                    </li>
                </ul>
            </div>
        </sidebar>
    
        <main id="mainContent">
            <header>
                <i id="iconMenu" onclick="responsiveSidebar()" class="fas fa-bars"></i>
                <a href="../index.html"> <i class="fa-solid fa-right-from-bracket"></i> Logaute</a>
            </header>
            <div class="main-content">

                <div class="premiacao">

                    <div class="alreta">
                        <div class="toast-container position-static">
                          
                            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                              <div class="toast-header">
                                <img src="..." class="rounded me-2" alt="...">
                                <strong class="me-auto">Bootstrap</strong>
                                <small class="text-muted">2 seconds ago</small>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                              </div>
                              <div class="toast-body">
                                Heads up, toasts will stack automatically
                              </div>
                            </div>
                          </div>
                    </div>

                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success" style="width: 25%">Cursos.Io</div>
                      </div>
                      <br>
                      <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 50%"></div>
                      </div>
                      <br>
                      <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning" style="width: 75%"></div>
                      </div>
                      <br>
                      <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-danger" style="width: 100%"></div>
                      </div>
                </div>

            </div>
        </main>
    </div>
    <script src="../plugins/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome-free-6.2.1-web/js/all.min.js"></script>
    <script src="../js/menu.js"></script>
</body>
</html>