<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome-free-6.2.1-web/css/all.min.css">
    <title>Cursos.IO | Cadastro</title>

</head>
<body>

    <div class="flex-dashboard">

        <sidebar id="sidebar">
            <div class="sidebar-title">
                <img src="../images/Cursos.Io.png" alt="">
                <h2>Cursos.Io</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fa-solid fa-house-user"></i>
                        <a href="dashboard.html"> Dashboard</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <a href="perfil.html"> Perfil</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-graduation-cap"></i>
                        <a href="vitrine.html"> Vitrine de cursos</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-book"></i> 
                        <a href="meuscursos.html"> Meus cursos</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-pen"></i> 
                        <a href="relatorio.html"> Relatórios</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-address-book"></i>
                        <a href="#"> Falar com um gerente</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-trophy"></i> 
                        <a href="premiacao.html">Minhas premiações</a>
                    </li>
                    <li>
                        <i class="fa-regular fa-address-card"></i>
                        <a href="#">Sobre a(o) Cursos.Io</a>
                    </li>
                    <li class="showbar_logaut">
                        <i class="fa-solid fa-right-from-bracket"></i> 
                        <a href="../index.html">Logout</a>
                    </li>
                </ul>
            </div>
        </sidebar>
    
        <main id="mainContent">
            <header>
                <i id="iconMenu" onclick="responsiveSidebar()" class="fas fa-bars"></i>
                <a href="../index.html"> <i class="fa-solid fa-right-from-bracket"></i> Logaute</a>
            </header>
            <div class="main-content">
                
                <div class="sobre">
                    <h2>Sobre a Cursos.Io</h2>

                    <div class="title-1">
                        <h5>Bem-vindo(a)</h5>
                         <p>A Cursos.Io! Estamos animados em oferecer uma variedade de cursos online para ajudar-lo(a) a alcançar seus objetivos de aprendizado. Nossa plataforma é projetada para fornecer uma experiência de aprendizado interativo e envolvente, com cursos ministrados por instrutores experientes e profissionais. Navegue pelo nosso catálogo e encontre o curso perfeito para você. Comece a sua jornada de aprendizado conosco agora!</p>
                        
                    </div>

                    <div class="title-1">
                        <h5>Quem somos?</h5>
                        <p>Cursos.Io é uma plataforma de ensino online dedicada a fornecer aos nossos alunos a oportunidade de aprender e se desenvolver de forma flexível e conveniente. Oferecemos uma ampla variedade de cursos, que vão desde habilidades técnicas até desenvolvimento pessoal, para atender às necessidades de diferentes tipos de alunos. Nossa equipe é composta por instrutores experientes e profissionais, que fornecem conteúdo de alta qualidade e ensinam de maneira interativa e envolvente. Além disso, nós oferecemos suporte ao aluno durante todo o curso, garantindo que você tenha uma melhor experiência de aprendizado possível. Nosso objetivo é ajudar você a alcançar seus objetivos de aprendizado, seja para crescimento profissional ou pessoal. Junte-se a nós hoje e comece a sua jornada de aprendizado!</p>
                    </div>
                    <div class="title-1">
                        <h5>O que devo fazer dentro da Cursos.Io</h5>
                        <p>Na plataforma Cursos.Io, além de aprender habilidades valiosas e adquirir conhecimento, os alunos também podem se divertir e relaxar. Nós oferecemos uma variedade de atividades divertidas e lúdicas, como jogos educativos, desafios e competições, que ajudam a tornar o aprendizado mais leve e prazeroso. Além disso, os alunos podem se comunicar e interagir com outros alunos, criando uma comunidade de aprendizado onde é possível compartilhar experiências e conhecimentos, e obter feedback e suporte. Em resumo, na plataforma Cursos.Io, os alunos podem não só adquira novos conhecimentos, mas também se divirta e se conecte com outros alunos, tornando a sua jornada de aprendizado mais enriquecedora e agradável.</p>
                        <div class="cursos-io=dia">
                            plataforma desenvolvida pela(o) Cursos.Io | @2023
                    </div>
                </div>

            </div>
        </main>
    </div>

    <script src="../plugins/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome-free-6.2.1-web/js/all.min.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/mensagem.js"></script>
</body>
</html>