<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome-free-6.2.1-web/css/all.min.css">
    <title>Cursos.IO | Cadastro</title>

</head>
<body>

    <div class="flex-dashboard">

        <sidebar id="sidebar">
            <div class="sidebar-title">
                <img src="../images/Cursos.Io.png" alt="">
                <h2>Cursos.Io</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fa-solid fa-house-user"></i>
                        <a href="dashboard.html"> Dashboard</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <a href="perfil.html"> Perfil</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-graduation-cap"></i>
                        <a href="vitrine.html"> Vitrine de cursos</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-book"></i> 
                        <a href="meuscursos.html"> Meus cursos</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-pen"></i> 
                        <a href="relatorio.html"> Relatórios</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-address-book"></i>
                        <a href="#"> Falar com um gerente</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-trophy"></i> 
                        <a href="premiacao.html">Minhas premiações</a>
                    </li>
                    <li>
                        <i class="fa-regular fa-address-card"></i>
                        <a href="#">Sobre a(o) Cursos.Io</a>
                    </li>
                    <li class="showbar_logaut">
                        <i class="fa-solid fa-right-from-bracket"></i> 
                        <a href="../index.html">Logout</a>
                    </li>
                </ul>
            </div>
        </sidebar>
    
        <main id="mainContent">
            <header>
                <i id="iconMenu" onclick="responsiveSidebar()" class="fas fa-bars"></i>
                <a href="../index.html"> <i class="fa-solid fa-right-from-bracket"></i> Logaute</a>
            </header>

            <div class="main-content">
                <h2>Vitrine de cursos da Io</h2>

                <div class="vitrine-container">

                        <div class="l-cards">

                            <article class="c-card">
                              <div class="c-card__image">
                                <img src="../images/Cursos.Io.png" width="100%" alt="image placeholder">
                              </div>
                          
                              <div class="c-card__content">
                                <div class="txt">
                                    <h3>Titulo</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloremque sed odit dolore corporis ut voluptate consequatur sit! Suscipit obcaecati, excepturi veritatis tempora sunt et laudantium quibusdam id ab iusto!</p>
                                    <button id="btn">Mais informações</button>
                                </div>
                              </div>
                            </article>

                            <article class="c-card">
                                <div class="c-card__image">
                                  <img src="../images/Cursos.Io.png" width="100%" alt="image placeholder">
                                </div>
                            
                                <div class="c-card__content">
                                  <div class="txt">
                                      <h3>Titulo</h3>
                                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloremque sed odit dolore corporis ut voluptate consequatur sit! Suscipit obcaecati, excepturi veritatis tempora sunt et laudantium quibusdam id ab iusto!</p>
                                      <button id="btn">Mais informações</button>
                                  </div>
                                </div>
                              </article>

                              <article class="c-card">
                                <div class="c-card__image">
                                  <img src="../images/Cursos.Io.png" width="100%" alt="image placeholder">
                                </div>
                            
                                <div class="c-card__content">
                                  <div class="txt">
                                      <h3>Titulo</h3>
                                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloremque sed odit dolore corporis ut voluptate consequatur sit! Suscipit obcaecati, excepturi veritatis tempora sunt et laudantium quibusdam id ab iusto!</p>
                                      <button id="btn">Mais informações</button>
                                  </div>
                                </div>
                              </article>

                              <article class="c-card">
                                <div class="c-card__image">
                                  <img src="../images/Cursos.Io.png" width="100%" alt="image placeholder">
                                </div>
                            
                                <div class="c-card__content">
                                  <div class="txt">
                                      <h3>Titulo</h3>
                                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloremque sed odit dolore corporis ut voluptate consequatur sit! Suscipit obcaecati, excepturi veritatis tempora sunt et laudantium quibusdam id ab iusto!</p>
                                      <button id="btn">Mais informações</button>
                                  </div>
                                </div>
                              </article>

                              <article class="c-card">
                                <div class="c-card__image">
                                  <img src="../images/Cursos.Io.png" width="100%" alt="image placeholder">
                                </div>
                            
                                <div class="c-card__content">
                                  <div class="txt">
                                      <h3>Titulo</h3>
                                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloremque sed odit dolore corporis ut voluptate consequatur sit! Suscipit obcaecati, excepturi veritatis tempora sunt et laudantium quibusdam id ab iusto!</p>
                                      <button id="btn">Mais informações</button>
                                  </div>
                                </div>
                              </article>
                              
                              <article class="c-card">
                                <div class="c-card__image">
                                  <img src="../images/Cursos.Io.png" width="100%" alt="image placeholder">
                                </div>
                            
                                <div class="c-card__content">
                                  <div class="txt">
                                      <h3>Titulo</h3>
                                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloremque sed odit dolore corporis ut voluptate consequatur sit! Suscipit obcaecati, excepturi veritatis tempora sunt et laudantium quibusdam id ab iusto!</p>
                                      <button id="btn">Mais informações</button>
                                  </div>
                                </div>
                              </article>

                        </div>  

                </div>

            </div>

        </main>
    </div>
    <script src="../plugins/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome-free-6.2.1-web/js/all.min.js"></script>
    <script src="../js/menu.js"></script>
</body>
</html>